# Data types:
- int
- float
- str
- complex
- boolean

In [1]:
type("c")

str

In [2]:
type(7.7777777777777777)

float

In [4]:
type(55555555555555555555555555)

int

In [12]:
a=10
b=3
c=10+3j

In [13]:
type(c)

complex

# operators
- Athemeitc (+,-,*,/,//,%,**)
- Assaignment
- relational 
- logical operator
 - bitwise operator
- boolean operator
- identity operator
- membership operator

In [ ]:
//(floor)

In [15]:
15//2

7

In [20]:
2*6

12

## logical operator
- and
- or
- not

In [30]:
a= 10
b= 5

c= a>16 or  b>10
c

False

In [26]:
not(a < 15 and b < 6 and  a >15)

True

**Bitwise operator**

In [ ]:
- bitwise and (&)
- bitwise or  (|)
- bitwise not (~)
- bitwise xor (^)
- left shift (<<)
- right shift (>>)

In [52]:
a = 10 
b = 12

In [45]:
a & b

8

In [47]:
a | b

14

```
a =  1 0 1 0
b =  1 1 0 0
    ---------
     1 0 0 0

```
bitwise not =(~)
   -n-1

In [49]:
c=114
~c

-115

In [53]:
a ^  b

6


```
0 0 0 0 1 0 1 0
0 0 0 0 1 1 0 0
-----------------
0 0 0 0 o 1 1 0
```

In [51]:
bin(6)

'0b110'

<< (left shift)

In [55]:
a = 4
b = 5
a << b

128

In [56]:
bin(4)

'0b100'

In [59]:
0b010000000

128

In [60]:
a=4
b=2
a >> b

0

In [61]:
0 0 0 0 0 1 .0 0

0

In [63]:
0b000001

1

**For loop**

Ravikishore
Ravikishore
Ravikishore
Ravikishore

In [66]:
n=int(input())
for i in range (1,11,1):
    print(n,"*",i,"=",n*i)

10
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [80]:
n=int(input())
for i in range(1,n+1):
    for j in range(1,11):
        print(i,"*",j,"=",i*j)
print("data")

10
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100
data

```
for (i,condition,increment)
{
    for(j,con,in){
    -kdhkndkjsnkask-------------
    ------
    }
---------------------------
abcdefghj--------------------------

}

In [67]:
n=int(input())
for i in range(1,n+1):
    print()
    for j in range(1,11):
        print(i,"*",j,"=",i*j)

5

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

```
*
  *
    *
      *
        *
 ```

In [83]:
for i in range(1,6):
    for j in range(1,6):
        print("*",end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *